name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb imagemagick libmagickwand-dev libncurses5-dev
    - name: Install and build
      run: |
        export DISPLAY=':99.0'
        Xvfb :99 -screen 0 640x480x24 > /dev/null 2>&1 &
        npm install
        npm uninstall electron
        npm install -g electron
        chmod +x build_osmesa.sh
        ./build_osmesa.sh
        cp libosmesa.so `npm config get prefix`/lib/node_modules/electron/dist
        chmod +x test.sh
        npm test